With this notebook, I debugged the previous versions into a new, simpler one.

In [1]:
import pandas as pd

In [5]:
filename = '../Students_list_for_speed_dating.csv'

In [6]:
student_list = [] # create a list to store student names
with open(filename) as file: # open the file
    for line in file:
        student_list.append(line.strip())   # add each line to the list

In [7]:
student_list = student_list[1:] # remove the header

In [8]:
# we assign a new student, if there is an odd number of them. 
# This way, we avoid issue with the middle student
if len(student_list) % 2 == 1:
    student_list.append('X')

In [9]:
student_dict = {} # we create a dictionary to store the student names and their number in the list
for student in student_list: # we iterate over the student list and assign a number to each student
    i = student_list.index(student)
    student_dict[student] = i+1

In [10]:
# we create a list of students IDs
students = list(range(1, len(student_list) + 1))

In [11]:
students

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [12]:
# Track used pairs to avoid duplicates
used_pairs = set()

In [13]:
# we initialize a list to hold the rotations
rotations = []

In [14]:
#for each round, we create new pairings list
for round in range(len(student_list) - 1):
    pairings = []
    # Pair students in a round-robin fashion
    for i in range(len(student_list) // 2):
        student1 = students[i]
        student2 = students[-(i + 1)]

        # Create a sorted tuple to represent the pair (regardless of order)
        pair = tuple(sorted([student1, student2]))
        if pair not in used_pairs:
                pairings.append((student1, student2))
                used_pairs.add(pair)
        else:
            pass
    # Append the pairings to the rotations list
    rotations.append(pairings)

    # Rotate the students, keeping the first student in place
    students = [students[0]] + students[-1:] + students[1:-1]

In [15]:
data = [] # we create an empty list to host the pairings
d2 = {v: k for k, v in student_dict.items()} # We create a dictionary for reverse mapping

for i, round in enumerate(rotations, start=1):
    for student1, student2 in round:
        data.append({
                'Round': i,
                'Student 1': d2.get(student1),
                'Student 2': d2.get(student2)
            })

round_robin_df = pd.DataFrame(data) #returns a DataFrame for easier Manipulation

In [16]:
round_robin_df

     Round  Student 1   Student 2
0        1     Emily,           X
1        1      Liam,     Evelyn,
2        1    Sophia,    Michael,
3        1      Noah,     Harper,
4        1    Olivia,  Alexander,
..     ...        ...         ...
185     19       Ava,  Alexander,
186     19   William,     Amelia,
187     19  Isabella,      Henry,
188     19  Benjamin,  Charlotte,
189     19       Mia,      Lucas,

[190 rows x 3 columns]

In [41]:
df = round_robin_df

In [42]:
df['Breakout Room'] = df.groupby('Round').cumcount() + 1

In [43]:
df

     Round  Student 1   Student 2  Breakout Room
0        1     Emily,           X              1
1        1      Liam,     Evelyn,              2
2        1    Sophia,    Michael,              3
3        1      Noah,     Harper,              4
4        1    Olivia,  Alexander,              5
..     ...        ...         ...            ...
185     19       Ava,  Alexander,              6
186     19   William,     Amelia,              7
187     19  Isabella,      Henry,              8
188     19  Benjamin,  Charlotte,              9
189     19       Mia,      Lucas,             10

[190 rows x 4 columns]